.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;

  & > * {
    margin: 10px 0;
  }
}

.form__input {
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 10px rgb(130, 118, 106, 0.2); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 10px rgb(130, 118, 106, 0.2); /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 10px rgb(130, 118, 106, 0.2);
  transition: all 0.3s linear;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;

  &::placeholder {
    color: rgb(130, 118, 106, 0.5);
  }

  &:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 5px rgb(130, 118, 106, 1); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 1px 5px rgb(130, 118, 106, 1); /* Firefox 3.5 - 3.6 */
    box-shadow: 1px 1px 5px rgb(130, 118, 106, 1);
    outline: none;
  }
}

.form__submitBtn {
  width: fit-content;
  height: 100%;
  padding: 10px 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  // background: var(--tg-theme-button-color);
  // color: var(--tg-theme-button-text-color);
  background: rgb(0, 166, 81);
  color: white;
}
