$mainGradient: linear-gradient(
  to right,
  rgba(205, 143, 106, 1),
  rgba(147, 100, 72, 1)
);
$mainDark: rgba(147, 100, 72, 1);
$mainLight: rgba(205, 143, 106, 1);

$transitionGlobal: all 0.2s linear;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Roboto/Roboto.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/Roboto/Roboto.eot") format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Roboto/Roboto.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/Roboto/Roboto.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Roboto/Roboto.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../assets/fonts/Roboto/Roboto.svg")
      format("svg"); /* Legacy iOS */
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:before,
  &:after {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body,
html {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);

  color: black;
  background: white;
}

// IOS will still zoom, unless you use 16px on the input without the focus.
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input,
button,
option {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus,
button:focus,
option:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
