@use "../../styles/mainStyles.module.scss" as global;

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin-bottom: 50vh;

  h3 {
    padding: 10px 0;
  }
}

.checkout__header {
  padding: 0 0 10px 0;
  text-align: center;
}

.checkout__order {
  width: 100%;
}

.checkout__total {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
